<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Movies App</h1>
      <p class="lead">Find all the movies in this app</p>
    </div>
</div>

<div class="container">
    <br>
   <app-gallery [movies]="shows | slice:0:6"
                title="Movie Showtimes"></app-gallery>

    <app-gallery [movies]="populars | slice:0:6"
                title="Most Populars"></app-gallery>

    <app-gallery [movies]="upcoming | slice:0:6"
                title="Upcoming"></app-gallery>    
    
</div>